<h2 class="page-header">Search Authors</h2>
<form action="/authors" method="get">
  <div class="form-row">
    <div class="form-item">
      <label for="name">Name</label>
      <input type="text" name="name" value="<%= searchOptions.name %> " />
    </div>
  </div>
  <div class="form-row form-row-end">
    <button class="btn btn-primary" type="submit">Search</button>
  </div>
</form>

<br />
<!-- Here since we passed in the allAuthors object we can loop through it and display each ones name -->
<% allAuthors.forEach(author=>{ %>
<div><%= author.name %></div>
<div class="btn-row">
  <a class="btn btn-primary" href="/authors/<%= author.id %>">View</a>
  <a class="btn btn-primary" href="/authors/<%= author.id %>/edit">Edit</a>
  <!-- Here we include the deleteForm Partial and pass in the url as the author/author.id -->
  <%- include('../partials/deleteForm',{url:`/authors/${author.id}`}) %>
</div>
<%})%>
